includes:
	- phpstan-baseline.neon

parameters:
    level: max

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true

    paths:
        - src

    ignoreErrors:
        -
            messages:
                - '#Unsafe usage of new static\(\)#'
                - '#. but return statement is missing#'
            reportUnmatched: false
